@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  
}

ul {
  list-style-type: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.content {
  margin: auto auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  background: lightgrey;
}

.left-links {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  gap: 8px;
  padding-left: 16px;
}

.right-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-right: 16px;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: gray;
}